.body h2 {
  text-align: center;
  font-size: 40px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.body button {
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 5px;
}