.header {
  flex: 0;
  background: #cb22ff;
  background: linear-gradient(-90deg, rgba(203, 34, 255, 1) 23%, rgba(222, 115, 255, 1) 82%);
  padding: 20px 0px;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body h2 {
  font-size: 25px;
}

.logo {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}



.logout {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logout button {
  padding: 5px 15px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.logout span {
  font-family: "Montserrat", sans-serif;
}

.userName h2 {
  font-size: 18px;
}

.bodyCartImg {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.bodyCartImg img {
  max-width: 100%;
  max-height: 100%;
}

.cart {
  padding: 20px;
  color: #000;
  position: absolute;
  top: 40px;
  width: 300px;
  left: -178px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid grey;

  max-height: 400px;
  overflow-y: auto;
}

.cart ul li {
  padding: 25px 0px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  border-bottom: 2px solid #000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.cart ul li:last-child {
  border-bottom: none;
}

.cart ul li img {
  max-width: 30px;
}


.bodyCartImg h2 {
  font-size: 15px;
}

.lengthCart {
  font-weight: 500;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: -20%;
}


.cartImages {
  display: flex;
  align-items: center;
}


.liBody {
  display: flex;
  justify-content: space-between;
}

.count {
  display: flex;
  align-items: center;
}


.count h2 {
  padding: 0px 10px;
}

.count button {
  border-radius: 100%;
  font-size: 18px;
  transition: 400ms;
}

.count button:hover {
  transition: 400ms;
  transform: scale(1.1);
}

.addCount {
  background-color: green;
  color: #fff;
}

.remodeCount {
  background-color: red;
  color: #fff;
}

.cartInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cartInfo h2 {
  font-weight: 700;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.box h2 {
  font-size: 16px;
  font-weight: 500;
}


.cartTotal {
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  display: flex;

}

.cartTotal h2{
  font-size: 14px;
  font-weight: 500;
  line-height: 200%;
}

.cartTotal h2 span {
  font-weight: 700;
}

.bodyButton{
  display: flex;
  flex-direction: column;
  gap: 10px;
}